.menu-bar{
    background-image: url('/images/banner-holder.jpg');
    color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
      
}

.logo{
    width: 90px;
}

a{
    color: rgb(245, 243, 243);
}

button{
    border-radius: 3px;
    margin-top: 10px;
    left: 10px;
    margin-left: 15px;
}

h1{
    text-align: center;
    margin-top: 80px;
    font-size: -webkit-xxx-large;
}

.bg-door-step{
    background: url(/images/doorstep-bg.png) center bottom no-repeat;
    padding-bottom: 20px;
    font-style: italic;
}

.tailor-title{
    text-align: center;
    margin-top: 19px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

.banner-tag-line{
    text-align: center;
    font-style: italic;
}

.box-size{
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    color: #707070;
   
}

.box-size, p{

    font-family: 'Lato', sans-serif;
    line-height: 26px;
}

.mouse-img{
    background-image: url(/images/place_order.svg);
}

.column {
    padding: 80px 0 0;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 10px;
    background-size: 60px;
}

.work-title {
    display: block;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: #363636;
    line-height: 26px;
}

.column > p {
    margin: 0 40px;
}
.work-holder-box p {
    font-size: 15px;
    line-height: 24px;
    color: #414141;
}

.kurta-img{
    background-image: url(/images/dress_material.svg);
    
}

.mouse-img{
    background-image: url(/images/place_order.svg);
}

.machine-img{
    background-image: url(/images/stitch_deliver_img.svg);
}

.pay-delivery-img{
    background-image: url(/images/pay_on_delivery.svg);
}

.services-wrapper {
    margin: 0 auto;
    width: 1000px;
    padding-bottom: 60px;
    padding-top: 10px;
    text-align: center;
    background: #f9f9f9;
    height: 433px;
    overflow: hidden;
}
.services-title {
    display: block;
    font-size: 28px;
    color: #3f79bc;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 11px;
}

.sub_heading {
    font-size: 18px;
    margin-bottom: 47px;
    margin-left: 490px;
}

.card-title {
    margin-top: -14px;
    margin-bottom: 2px;
    text-align: center;
    font-weight: bold;
}

.card-text {
    text-align: center;
    margin-bottom: 4px;
    margin-top: 12px;
}

.card-img-top{
    height: 40vh;
}

.choice-clothes-type {
    margin-top: -32px;
    margin-left: 550px;
    margin-bottom: 8px;
}

.choose{
    padding: 15px;
    font-weight: bold;
}

.box {
    margin-left: 80px;
    margin-top: -20px;
}

.box-btn{
    margin-left: 5px;
}

.alta-sub_heading {
    margin-top: -20px;
    margin-left: 363px;
}
.alteration-services {
    margin: 0 auto;
    width: 1000px;
    padding-bottom: 60px;
    padding-top: 10px;
    text-align: center;
    background: #f9f9f9;
    height: 380px;
    overflow: hidden;
}

.alteration-paragraph{
    margin-left: 630px;
}

.para-1 {
    margin-left: -163px;
    margin-top: -18px;
}

.para-2 {
    margin-left: -113px;
    margin-top: 25px;
}

.alt-boxes {
    position: absolute;
    left: 300px;
}

.book-now-outer {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 35px;
    margin-bottom: 0px;
}

.alt-btn{
    background-color: #d0529d;
    border: none;
}

.alt-text{
    color: #d0529d;
}

.alt-title{
    color: black;
}

.why-us-wrapper {
    background: #f3f3f3;
    padding-top: 60px;
    padding-bottom: 60px;
}

.stitch-title{
    display: block;
    font-size: 28px;
    color: #3f79bc;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 100px;
}

.contact-us-wrapper {
	padding-top: 40px;
}
.modal-content {
	border-radius: 0px !important;
}
.booking-form-outer .form-control {
	border-radius: 0px !important;
	border-bottom: 2px solid #ccc !important;
	margin-bottom: 20px;
}
/* contact form css */

.contact-form-outer .form-control {
	border-radius: 0px !important;
	border-top: 0px !important;
	border-right: 0px !important;
	border-left: 0px !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	border-bottom: 2px solid #ccc !important;
	margin-bottom: 20px;
	padding-left: 0px;
	padding-right: 0px;
	font-size:14px;
}
.contact-list{ padding-top:50px;}
.contact-form-outer label {
	font-weight: 400;
    color: #cac6c6;
    font-size: 12px;
}

.contact-form-outer textarea.form-control {
	height: 90px !important;
}
.btn-send {
	border-radius: 0px !important;
	display: inline-block !important;
	text-align: center;
	padding: 12px 40px !important;
	color: #fff !important;
	background: #d0529d !important;
	text-transform: uppercase !important;
	border-bottom: 0px !important;
	font-weight:bold;
}
.icon_contact{ width:24px;}
.contact-us-content {
	padding-bottom: 40px;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
}
.message-success{color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6; clear:both;}
.message-error{   
     color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;clear:both;}
/*header css */

.site-header {
	position: fixed !important;
	top: 0;
	width: 100%;
	z-index: 999;
	background: none;
	transition: all 0.5s ease 0s;
}
.site-log {
	float: left;
	height: auto;
	margin-top: -4px;
	max-width: 100%;
	width: 190px;
	margin-bottom: 8px;
	margin-top: 0px !important;
	transition: all 0.5s ease 0s;
}
.site-log a:focus {
	outline: none;
}
.main-nav-bar {
	float: right;
	margin-top: 10px;
}
.main-nav-bar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.main-nav-bar ul li {
	display: inline-block;
	margin-right: 6px;
}
.main-nav-bar ul li a {
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	text-transform: capitalize;
	padding: 8px 10px;
	display: inline-block;
	font-weight:bold;
}
.main-nav-bar ul li a:focus {
	outline: none;
}
.main-nav-bar ul li a:hover {
	color: #d0529d;
}
.item-book-now a {
	color: #d0529d !important;
	border: 2px solid #d0529d;
}
.header-top {
	/*padding-top: 6px;
    padding-bottom: 6px;*/
	border-bottom: 1px solid #ccc;
}
ul.top-social-links {
	list-style: none;
	padding: 0;
	margin: 0;
	float: left;
	transition: all 0.5s ease 0s;
}
.fix-header .header-top {
	display: none;
}
.fix-header .dropit-btn {
	top: 2px;
}
ul.top-social-links:after {
	display: block;
	clear: both;
	content: '';
}
ul.top-social-links li {
	display: inline-block;
	transition: all 0.5s ease 0s;
}
ul.top-social-links li a {
	padding: 2px 6px;
	display: inline-block;
	font-weight: 700;
	color: #fff !important;
	text-decoration: none;
	transition: all 0.5s ease 0s;
}
ul.top-social-links li a i {
	color: #fff;
	font-size: 15px;
}
.header-top-phone {
	color: #fff;
	display: inline-block;
	padding-top: 3px;
}
.header-top-phone:after {
	display: block;
	clear: both;
	content: '';
}
.header-top-phone a {
	color: #fff;
}
.header-top-phone a:hover {
	color: #fff;
}
.header-top-phone a i {
	color: #fff;
}
.fix-header {
	background: #fff;
	border-bottom: 1px solid #eee;
}
.fix-header a {
	color: #525558 !important;
}
.fix-header a:hover {
	color: #d0529d !important;
}
.fix-header {
	transition: all 0.5s ease 0s;
}
.dropit-btn {
	display: none;
	cursor: pointer;
	text-align: center;
	width: 35px;
	height: 25px;
	text-decoration: none;
	position: absolute;
	right: 4px;
	top: 28px;
	margin-top: 20px;
	margin-right: 15px;
	z-index: 999;
}
.dropit-btn {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.dropit-btn span {
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: 3px solid #d0529d;
	color: #d0529d;
}
.sp-1 {
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.sp-2 {
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -1px !important;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.sp-3 {
	position: absolute;
	bottom: 0;
	left: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.dropit-btn.active {
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.dropit-btn.active > .sp-1 {
	top: 11px;
	left: -7px !important;
	left: 0;
	width: 100%;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.dropit-btn.active > span {
	border-bottom: 3px solid #d0529d;
}
.dropit-btn.active > .sp-2 {
	opacity: 0;
}
.dropit-btn.active > .sp-3 {
	bottom: 11px;
	width: 100%;
	left: -7px !important;
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.contact-form-outer .form-control:focus {
	border-color: #d0529d !important;
	outline: #d0529d !important;
}
.booking-outer .form-control {
	border-radius: 0px !important;
	display: inline-block !important;
	margin-bottom: 10px;
}
.booking-outer .form-control:focus {
	border-color: #d0529d !important;
	outline: #d0529d !important;
}
#btn-submit-bkning {
	margin-top: 30px;
}

.booking-outer .custom-file-upload {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 7px 12px !important;
	width: 100%;
	cursor: pointer;
}
.back-to-top {
	bottom: 40px;
	display: none;
	height: 35px;
	margin: 0;
	opacity: 1;
	position: fixed;
	right: 20px;
	transition: opacity 0.3s ease-in-out 0s;
	width: 35px;
	z-index: 10000;
	background: #d0529d;
	border-radius: 50%;
	text-align: center;
}
.back-to-top:focus {
	outline: none;
}
.back-to-top:hover {
	background: #3f79bc;
}
.back-to-top > i {
	height: auto;
	font-size: 36px;
	color: #fff !important;
	font-weight: 700;
}
.site-footer {
	background-color: #fff;
	color: #8d8d8d;
	font-size: 15px;
	text-align: center;
}
.site-info {
	margin: 0 auto;
	max-width: 1040px;
	padding: 20px 0;
	width: 100%;
}